examples/clock_example.txt
[{"id":"a62557f1.11d778","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e24cc28.5e0a14","type":"pixel","z":"a62557f1.11d778","name":"","color":"haa","matrix":"c709fa08.78a508","x":770,"y":120,"wires":[]},{"id":"613a7739.3a0198","type":"image-to-pixels","z":"a62557f1.11d778","name":"","file":"https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiasoqh-LbdAhUJHHwKHWQiB5AQjRx6BAgBEAU&url=https%3A%2F%2Fpawoo.net%2F%40kumatogomesu%2F24536671&psig=AOvVaw3o9RjRmCiZiz1FUMhiZogA&ust=1536892327529558","x":520,"y":120,"wires":[["5e24cc28.5e0a14"]]},{"id":"8ad3aeef.28871","type":"inject","z":"a62557f1.11d778","name":"","topic":"","payload":"https://3.bp.blogspot.com/-BoYS9nvIoXs/WNqJpuQCtYI/AAAAAAAAAlc/Fns8rlyCFrYEMjrk-XRzaNn586FT_nX3QCEw/s200/VS_Yak%25C3%25B3n.png","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["613a7739.3a0198"]]},{"id":"f0a63db.3cc29c","type":"refresh-matrix","z":"a62557f1.11d778","name":"","matrix":"c709fa08.78a508","x":530,"y":600,"wires":[]},{"id":"6409565e.936508","type":"inject","z":"a62557f1.11d778","name":"Local PNG Instagram","topic":"","payload":"{\"x\":10,\"y\":50,\"file\":\"/home/pi/Pictures/instagram.png\"}","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":201,"y":118,"wires":[["613a7739.3a0198"]]},{"id":"31458abf.849e16","type":"clear-matrix","z":"a62557f1.11d778","name":"clear-matrix","matrix":"c709fa08.78a508","x":530,"y":640,"wires":[]},{"id":"3936219b.3660fe","type":"inject","z":"a62557f1.11d778","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":170,"y":620,"wires":[["f0a63db.3cc29c","31458abf.849e16"]]},{"id":"2ef1efea.d70bb","type":"inject","z":"a62557f1.11d778","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["b2b32d.3cc91cd","e9e1ddb2.9398"]]},{"id":"93127c3e.5f7ce","type":"inject","z":"a62557f1.11d778","name":"Inject Json String","topic":"","payload":"{\"text\": \"second line\", \"y\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":500,"wires":[["e9e1ddb2.9398","a88b2261.51967"]]},{"id":"b2b32d.3cc91cd","type":"tcp out","z":"a62557f1.11d778","host":"10.71.0.156","port":"10000","beserver":"client","base64":false,"end":true,"name":"","x":640,"y":400,"wires":[]},{"id":"f2770444.5d5388","type":"tcp in","z":"a62557f1.11d778","name":"","server":"server","host":"","port":"10000","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":160,"y":700,"wires":[["abe3443c.994ad8","c938d024.c814e"]]},{"id":"c938d024.c814e","type":"debug","z":"a62557f1.11d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":720,"wires":[]},{"id":"e9e1ddb2.9398","type":"debug","z":"a62557f1.11d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":460,"wires":[]},{"id":"4186df9f.550ca","type":"text","z":"a62557f1.11d778","name":"","matrix":"c709fa08.78a508","x":590,"y":800,"wires":[]},{"id":"4088338e.ea76cc","type":"inject","z":"a62557f1.11d778","name":"Set temp to 20","topic":"","payload":"{\"foo\":20}{\"bar\":30}{\"doh\":40}","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":920,"wires":[["94591180.174aa"]]},{"id":"94591180.174aa","type":"function","z":"a62557f1.11d778","name":"}{ splitter","func":"\nwhile (msg.payload.indexOf(\"}{\") !== -1) {\n    var s = msg.payload.indexOf(\"}{\");\n    var a = msg.payload.substr(0,s+1);\n    node.send({payload:a});\n    msg.payload = msg.payload.substr(s+1);\n}\n\nreturn msg;","outputs":1,"x":360,"y":920,"wires":[["ce426d07.4ebef"]]},{"id":"ce426d07.4ebef","type":"json","z":"a62557f1.11d778","name":"","x":510,"y":920,"wires":[["ff4ef784.dd9868"]]},{"id":"ff4ef784.dd9868","type":"debug","z":"a62557f1.11d778","name":"","active":false,"console":"false","complete":"false","x":670,"y":920,"wires":[]},{"id":"abe3443c.994ad8","type":"json","z":"a62557f1.11d778","name":"","property":"payload","action":"","pretty":false,"x":350,"y":740,"wires":[["4186df9f.550ca","c938d024.c814e"]]},{"id":"a88b2261.51967","type":"json","z":"a62557f1.11d778","name":"","property":"payload","action":"","pretty":false,"x":370,"y":440,"wires":[["e9e1ddb2.9398","b2b32d.3cc91cd"]]},{"id":"73cc19aa.2719e8","type":"text","z":"a62557f1.11d778","name":"","matrix":"c709fa08.78a508","x":570,"y":260,"wires":[]},{"id":"7e1c6b01.ce1ed4","type":"inject","z":"a62557f1.11d778","name":"","topic":"","payload":"0,0,255,0,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":40,"wires":[["5e24cc28.5e0a14"]]},{"id":"fd2cbd4c.88931","type":"function","z":"a62557f1.11d778","name":"Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \n\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \n\n//var time = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nvar time = hour+':'+minute+':'+second;\n\nvar newMsg={payload:time};\n\nreturn newMsg","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["73cc19aa.2719e8","bee680d2.65701"]]},{"id":"bc05621b.e5848","type":"inject","z":"a62557f1.11d778","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":240,"wires":[["eead1f34.f0d04","fd2cbd4c.88931"]]},{"id":"eead1f34.f0d04","type":"function","z":"a62557f1.11d778","name":"Month","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \n\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \n\n//var time = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nvar time = year+'-'+month+'-'+day;\n\nvar newMsg={payload:{text:time, x:0, y:15}};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["bee680d2.65701","73cc19aa.2719e8"]]},{"id":"bee680d2.65701","type":"debug","z":"a62557f1.11d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":320,"wires":[]},{"id":"594a59b0.77a988","type":"inject","z":"a62557f1.11d778","name":"Inject Json String","topic":"test","payload":"{\"text\": \"second line\", \"y\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["73cc19aa.2719e8","bee680d2.65701"]]},{"id":"8eba6d00.5cd07","type":"inject","z":"a62557f1.11d778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["eead1f34.f0d04"]]},{"id":"7af5eb81.634db4","type":"inject","z":"a62557f1.11d778","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["fd2cbd4c.88931"]]},{"id":"c709fa08.78a508","type":"led-matrix","z":"","height":"64","width":"64","chained":"2","parallel":"1","mapping":"adafruit-hat-pwm"}]
