examples/humidity_clock_example.txt
[{"id":"d75d498e.78e748","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7cedcb67.4a88a4","type":"led-matrix","z":"","height":"64","width":"64","chained":"2","parallel":"1","brightness":"100","mapping":"adafruit-hat-pwm"},{"id":"5fe6dc6d.0c4894","type":"mqtt-broker","z":"","name":"mqtt.wickeddevice.com","broker":"mqtt.wickeddevice.com","port":"1883","clientid":"egg071459137a16629a","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e4a37f9.c9c038","type":"refresh-matrix","z":"d75d498e.78e748","name":"","matrix":"7cedcb67.4a88a4","x":840,"y":540,"wires":[]},{"id":"168cadd2.da1472","type":"inject","z":"d75d498e.78e748","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.25","crontab":"","once":true,"onceDelay":"1","x":130,"y":540,"wires":[["9e4a37f9.c9c038"]]},{"id":"e62f2a9a.d7ee38","type":"inject","z":"d75d498e.78e748","name":"Inject Json String","topic":"","payload":"{\"text\": \"second line\", \"y\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":700,"wires":[["ba242463.beb098"]]},{"id":"c4c6a7e8.85ddd8","type":"tcp out","z":"d75d498e.78e748","host":"10.71.0.156","port":"10000","beserver":"client","base64":false,"end":true,"name":"","x":1060,"y":700,"wires":[]},{"id":"3d531534.abe90a","type":"tcp in","z":"d75d498e.78e748","name":"","server":"server","host":"","port":"10000","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":120,"y":800,"wires":[["d0000b43.e2e488"]]},{"id":"d0000b43.e2e488","type":"json","z":"d75d498e.78e748","name":"","property":"payload","action":"","pretty":false,"x":470,"y":800,"wires":[[]]},{"id":"ba242463.beb098","type":"json","z":"d75d498e.78e748","name":"","property":"payload","action":"","pretty":false,"x":470,"y":700,"wires":[["c4c6a7e8.85ddd8"]]},{"id":"d05b344b.aa1348","type":"inject","z":"d75d498e.78e748","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":200,"wires":[["25e666a7.6ff31a","af4085f9.b2b288","4e98ec78.141494"]]},{"id":"25e666a7.6ff31a","type":"function","z":"d75d498e.78e748","name":"Month","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \n\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \n\n//var time = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nvar time = year+'-'+month+'-'+day;\n\nvar newMsg={payload: time};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[[]]},{"id":"513ffdf7.d5b9d4","type":"Bme280","z":"d75d498e.78e748","name":"BME","bus":"1","address":"0x76","topic":"bme280","extra":true,"x":290,"y":320,"wires":[["f84af37f.1e3a9","27fa0270.3bd45e","f5b3d67d.0c9108","93339724.f8c0a8"]]},{"id":"8b3cfebe.2b1b9","type":"inject","z":"d75d498e.78e748","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":320,"wires":[["513ffdf7.d5b9d4"]]},{"id":"f84af37f.1e3a9","type":"function","z":"d75d498e.78e748","name":"Temperature","func":"var output = {payload: \"T C: \" + msg.payload.temperature_C};\nreturn output;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["1a8495e0.6e9b2a"]]},{"id":"27fa0270.3bd45e","type":"function","z":"d75d498e.78e748","name":"Humidity","func":"var output = {payload: \"H %: \" + Math.round(msg.payload.humidity * 100) / 100};\nreturn output;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["9dc54f50.32169"]]},{"id":"f5b3d67d.0c9108","type":"function","z":"d75d498e.78e748","name":"Pressure","func":"var output = {payload: \"P hPa: \" + Math.round(msg.payload.pressure_hPa * 100) / 100};\n\n\nreturn output;","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["c4028882.4e85c8"]]},{"id":"af4085f9.b2b288","type":"Loadavg","z":"d75d498e.78e748","name":"","x":480,"y":160,"wires":[["439fcb34.3aaed4"]]},{"id":"439fcb34.3aaed4","type":"function","z":"d75d498e.78e748","name":"LoadAvg","func":"var output = {payload: \"Load: \" + Math.round(msg.payload.loadavg[0] * 100) / 100};\nreturn output;","outputs":1,"noerr":0,"x":640,"y":160,"wires":[["d5ee6d9f.7509"]]},{"id":"780ad538.88199c","type":"mqtt out","z":"d75d498e.78e748","name":"mqtt.wickeddevice.com","topic":"","qos":"0","retain":"","broker":"5fe6dc6d.0c4894","x":850,"y":420,"wires":[]},{"id":"582bad8f.7ffff4","type":"function","z":"d75d498e.78e748","name":"Humidity Air Quality Egg","func":"var output = {payload:{\n    \"serial-number\": \"egg071459137a16629a\",\n    \"converted-value\": Math.round(msg.payload.humidity * 100) / 100,\n    \"converted-units\": \"percent\",\n    \"sensor-part-number\": \"SHT25\"\n    },\n    topic:\n    \"/orgs/wd/aqe/humidity/egg071459137a16629a\"\n};\nreturn output;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["780ad538.88199c"]]},{"id":"93339724.f8c0a8","type":"delay","z":"d75d498e.78e748","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300,"y":420,"wires":[["582bad8f.7ffff4","71ad132.75729ec"]]},{"id":"103ee651.ccb61a","type":"inject","z":"d75d498e.78e748","name":"","topic":"","payload":"https://cdn3.iconfinder.com/data/icons/tiny-icons/exclamation.png","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":60,"wires":[["178e3dc0.cfadc2","8de4e2f0.890a2","2c06cc05.a59774"]]},{"id":"71ad132.75729ec","type":"function","z":"d75d498e.78e748","name":"Temperature Air Quality Egg","func":"var output = {\n    payload:{\n    \"serial-number\": \"egg071459137a16629a\",\n    \"converted-value\": msg.payload.temperature_C,\n    \"converted-units\": \"degC\",\n    \"sensor-part-number\": \"SHT25\"\n    },\n    topic:\n    \"/orgs/wd/aqe/temperature/egg071459137a16629a\"\n};\n    \n    \n    \nreturn output;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["780ad538.88199c"]]},{"id":"178e3dc0.cfadc2","type":"image-to-matrix","z":"d75d498e.78e748","name":"","file":"","xOffset":"80","yOffset":"0","matrix":"7cedcb67.4a88a4","x":480,"y":100,"wires":[]},{"id":"1a8495e0.6e9b2a","type":"text-to-matrix","z":"d75d498e.78e748","name":"","xOffset":"11","yOffset":"15","rgb":"85,179,87","font":"/home/pi/node-rpi-rgb-led-matrix/external/matrix/fonts/clR6x12.bdf","matrix":"7cedcb67.4a88a4","x":830,"y":280,"wires":[]},{"id":"9dc54f50.32169","type":"text-to-matrix","z":"d75d498e.78e748","name":"","xOffset":"011","yOffset":"35","rgb":"89,45,219","font":"/home/pi/node-rpi-rgb-led-matrix/external/matrix/fonts/clR6x12.bdf","matrix":"7cedcb67.4a88a4","x":830,"y":320,"wires":[]},{"id":"c4028882.4e85c8","type":"text-to-matrix","z":"d75d498e.78e748","name":"","xOffset":"11","yOffset":"45","rgb":"255,246,0","font":"/home/pi/node-rpi-rgb-led-matrix/external/matrix/fonts/5x7.bdf","matrix":"7cedcb67.4a88a4","x":830,"y":360,"wires":[]},{"id":"d5ee6d9f.7509","type":"text-to-matrix","z":"d75d498e.78e748","name":"","xOffset":"0","yOffset":"0","rgb":"18,0,255","font":"/home/pi/node-rpi-rgb-led-matrix/external/matrix/fonts/6x10.bdf","matrix":"7cedcb67.4a88a4","x":830,"y":160,"wires":[]},{"id":"4e98ec78.141494","type":"function","z":"d75d498e.78e748","name":"Time","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \n\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \n\n//var time = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nvar time = hour+':'+minute+':'+second;\n\nvar newMsg={payload:time};\n\nreturn newMsg","outputs":1,"noerr":0,"x":470,"y":200,"wires":[[]]},{"id":"623a0733.0122b8","type":"circle-to-matrix","z":"d75d498e.78e748","name":"circle","xPos":"20","yPos":"20","radius":"20","rgb":"233,22,22","matrix":"7cedcb67.4a88a4","x":730,"y":40,"wires":[]},{"id":"8de4e2f0.890a2","type":"function","z":"d75d498e.78e748","name":"random circle","func":"var randInt = function (max)\n{\n    return Math.floor(Math.random() * Math.floor(max));\n}\n\nvar circle = \n{ xPos: randInt(100), yPos: randInt(30), radius: randInt(30)};\n\nvar payload = { data: circle};\nmsg.payload = payload; \nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["623a0733.0122b8"]]},{"id":"3089d7eb.a6b0f8","type":"inject","z":"d75d498e.78e748","name":"","topic":"","payload":"            ","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"15","x":130,"y":120,"wires":[["d5ee6d9f.7509"]]},{"id":"2c06cc05.a59774","type":"function","z":"d75d498e.78e748","name":"random triangle","func":"var randInt = function (max)\n{\n    return Math.floor(Math.random() * Math.floor(max));\n}\n\nvar triangle = {\n    x0Pos: randInt(128), y0Pos: randInt(64),\n    x1Pos: randInt(128), y1Pos: randInt(64),\n    x2Pos: randInt(128), y2Pos: randInt(64),\n};\n\nvar payload = { data: triangle};\nmsg.payload = payload; \nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[["288ff8dd.54ac88"]]},{"id":"288ff8dd.54ac88","type":"triangle-to-matrix","z":"d75d498e.78e748","name":"","x0Pos":0,"y0Pos":0,"x1Pos":0,"y1Pos":0,"x2Pos":0,"y2Pos":0,"rgb":"0, 255, 41","matrix":"7cedcb67.4a88a4","x":1060,"y":60,"wires":[]}]